/* =============================================================================
   Variables
   ========================================================================== */  

$maxpagewidth: 900px;
$col-pad: 5%;

@mixin breakpoint($point) {
  @if $point == large {
    @media (min-width: $maxpagewidth) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 650px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 350px) { @content; }
  }
}

$blue: #4cb6ef;
$light-gray: #e8e8e8;
$medium-gray: #8f9999;
$dark-gray: #333;


/* ==========================================================================
   Normalize & Base Styles
   ========================================================================== */
 
@import "normalize.scss";

body {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 15px; 
  line-height: 1.55;
  background-color: #fff;  

  @include breakpoint(medium) {
    font-size: 16px; 
  }

}

::-moz-selection { background: $blue; color: #000; text-shadow: none; }
::selection { background: $blue; color: #000; text-shadow: none; }
   
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

img{ max-width: 100%; height: auto; -ms-interpolation-mode:bicubic }


/* =============================================================================
   Grid
   ========================================================================== */  

.grid {
  margin: 0;
  
  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
  float: left;
  padding-right: $col-pad;
  .grid &:last-of-type {
    padding-right: 0;
  }
}

.col-1 {
  width: 100%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-1-8 {
  width: 12.5%;
}

/* Outside padding */
.grid {
  padding: 0 0 0 $col-pad;
  [class*='col-']:last-of-type {
    padding-right: $col-pad;
  }
}


/* ==========================================================================
   Baseline Typography Styles
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  text-align: center;
  color: $dark-gray;
}

h2 {
  font-size: 1.35em;
  line-height: 1;
  padding: 1em 0 0 0;
  margin: 0 0 -.3em 0;

  @include breakpoint(medium) {
    font-size: 1.45em;
  }
  
}

p {
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  color: $dark-gray;
  margin-bottom: 1em;

  @include breakpoint(medium) {
    font-size: 1.1em;
  }
  
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $blue;
  }
  
}


/* ==========================================================================
   Main Styles
   ========================================================================== */

header {
  width: 100%;
  padding: 1.25em 0;
  background: $dark-gray;
  border-bottom: 12px solid $light-gray;

  h1 { 
    margin: 0;
    font-size: 2.5em;
    font-weight: 100;
    color: #fff;

    @include breakpoint(small) {
      font-size: 3.5em;
    }

    &:before { 
      content: '<';
      display: inline;
      color: $blue;
    }

    &:after { 
      content: '/>';
      display: inline;
      color: $blue;
    }

  }
  
}

.main-wrap {
  max-width: $maxpagewidth;
  margin: auto;

  .col-1 {
    margin: 3% 0 2.5em 0;
  }

}