---
layout: default
title: Devs
---

{% for page in site.devs %}

  <section class="dev-profile">
    <a class="avatar" href="http://github.com/{{ page.github }}">
      <img src="{{ page.gravatar-url }}?s={{ site.gravatar_sizes.devs }}" class="profile-gravatar">
      <h2>{{ page.name }}</h2>
    </a>

    {% if page.urls %}

      <div class="profile-url">

        {% for url in page.urls %}

          {% if url.name == "website" %}
            <a href="{{ url.url }}"><img src="{{ site.url }}/assets/images/icons/link-icon.svg" alt=""></a>

          {% elsif url.name == "twitter" %}
            <a href="{{ url.url }}"><img src="{{ site.url }}/assets/images/icons/twitter-icon.svg" alt=""></a>

          {% elsif url.name %}
            <a href="{{ url.url }}">{{ url.name }}</a>
          {% endif %}

        {% endfor %}

      </div>

    {% endif %}

  </section>

{% endfor %}
