---
layout: default
title: Devs
---

{% assign sorted_devs = site.devs | sort:"name" %}
{% for page in sorted_devs %}

  <section class="dev-profile">
    <a class="avatar" href="http://github.com/{{ page.github }}">
      <img src="{% include gravatar/image.html size=site.gravatar_sizes.devs id=page.gravatar-id %}" class="profile-gravatar">
      <h2>{{ page.name }}</h2>
    </a>

    {% if page.urls %}

      <div class="profile-url">

        {% for url in page.urls %}

          {% if url.name == "website" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/profile-icons/link-icon.svg" alt=""></a>

          {% elsif url.name == "behance" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/profile-icons/behance-icon.svg" alt=""></a>

          {% elsif url.name == "twitter" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/profile-icons/twitter-icon.svg" alt=""></a>

          {% elsif url.name == "google+" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/profile-icons/google-plus-icon.svg" alt=""></a>

          {% elsif url.name == "facebook" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/profile-icons/facebook-icon.svg" alt=""></a>

          {% elsif url.name == "stackoverflow" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/profile-icons/stackoverflow-icon.svg" alt=""></a>

          {% elsif url.name == "bsd.network" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/profile-icons/freebsd-icon.svg" alt=""></a>

          {% elsif url.name == "github" %}
            <a href="{{ url.url }}"><img src="/assets/images/icons/profile-icons/github-icon.svg" alt=""></a>

          {% elsif url.name %}
            <a href="{{ url.url }}">{{ url.name }}</a>
          {% endif %}

        {% endfor %}

      </div>

    {% endif %}

  </section>

{% endfor %}

<section class="callout">
  <h2>Join the group!</h2>
  <p>We invite anyone who identifies as a developer or is interested in becoming a developer in Chattanooga to join our community.
  <a href="https://github.com/chadev/chadev.github.io">Submit a Pull Request</a> on GitHub to add yourself.
  See our <a href="https://github.com/chadev/chadev.github.io/wiki/Adding-yourself-to-the-Devs-list">wiki page</a> for basic instructions.
  We can help if you get stuck or need a hint. Find us on
  <a href="http://chadev-slackin.herokuapp.com/">Slack</a> or <a href="mailto:chadevhelp@gmail.com">shoot us an email</a>.</p>
</section>
