---
layout: default
title: Groups
---

{% for page in site.data.groups %}

  <section class="dev-profile">
    {% if page.urls %}
        {% for url in page.urls %}
          {% if url.name == "website" %}
        <a class="avatar" href="{{ url.url }}">
          {% endif %}
        {% endfor %}
    {% else %}
        <a class="avatar" href="{{ page.website }}">
    {% endif %}

      <img src="{% include gravatar/image.html size=site.gravatar_sizes.groups id=page.gravatar-id %}" class="profile-gravatar">
      <h2>{{ page.name }}</h2>
    </a>

    {% if page.urls %}

      <div class="profile-url">

        {% for url in page.urls %}

          {% if url.name == "website" %}
            <a href="{{ url.url }}"><img src="{{ site.url }}/assets/images/icons/link-icon.svg" alt=""></a>

          {% elsif url.name == "twitter" %}
            <a href="{{ url.url }}"><img src="{{ site.url }}/assets/images/icons/twitter-icon.svg" alt=""></a>

          {% elsif url.name %}
            <a href="{{ url.url }}">{{ url.name }}</a>
          {% endif %}

        {% endfor %}

      </div>

    {% endif %}

  </section>
  
  <section class="callout">
    <h2>Get listed!</h2>
    <p>Want to have your development group listed here? Make sure you have a publically available 
    <a href="/coc">Code of Conduct</a> (Chadev's is based off <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">this guideline</a>),
    and <a href="https://github.com/chadev/chadev.github.io">submit a pull request</a> on GitHub.</p>
  </section>


{% endfor %}
