<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  {% include web-icons.html %}
  <!-- Assets -->
  <link rel="stylesheet" href="/css/global.css"/>
  <script src="/assets/js/head.js"></script>
  <script src="/assets/js/picturefill.min.js" async></script>
</head>
