<header>
  <div class="container">

    <a class="logo" href="{{ site.url }}/">
      <img src="{{ site.url }}/assets/images/logo.svg" alt="Chadev Logo">
    </a>

    <nav class="nav-collapse" role="navigation">
      <a href="{{ site.url }}/devs">Devs</a>
      <a href="#">Groups</a>
      <a href="{{ site.url }}/events">Events</a>
      <a href="{{ site.url }}/resources">Resources</a>
      <a href="{{ site.url }}/coc">Code of Conduct</a>
      <a href="https://kiwiirc.com/client/irc.freenode.net/?nick=chadev-?#chadev">IRC</a>
    </nav>

  </div>
</header>
