<!-- Allows add to homescreen apps for Android -->
<meta name="mobile-web-app-capable" content="yes">
<!-- Defines icon title -->
<meta name="apple-mobile-web-app-title" content="Chadev">
<!-- iPad icon -->
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ site.url }}/assets/images/icons/web-icons/76x76.png">
<!-- iPhone retina icon -->
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ site.url }}/assets/images/icons/web-icons/120x120.png">
<!-- iPad retina icon -->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.url }}/assets/images/icons/web-icons/152x152.png">
<!-- Recommended Android size icon -->
<link rel="icon" sizes="192x192" href="{{ site.url }}/assets/images/icons/web-icons/192x192.png">