footer {
  @include pad(2em 5%);
  background-color: darken($dark-grey, 10);
  color: white;

  a {
    color: darken($medium-grey, 15);
    padding: .5em 0;
    border-bottom: none;
    white-space: nowrap;
    @include transition (color .2s ease-in-out);

    &:hover {
      color: $blue;
      border-bottom: none;
    }

  }

  .container {
    @include outer-container;
  }

  nav {
    @include span-columns(12);
    text-align: center;

    @include media($small) {
      @include span-columns(8);
      text-align: left;
    }

    a {
      margin-right: 1em;
    }

  }

  p {
    @include span-columns(12);
    margin: .5em 0 0 0;
    text-align: center;

    @include media($small) {
      @include span-columns(4);
      text-align: right;
      margin: 0;
    }

  }

}
