@import "vendor/neat/neat-helpers";

$visual-grid : false;
$visual-grid-opacity: 0.3;

$column: golden-ratio(1em, 3);
$gutter: golden-ratio(3em, 1);
$grid-columns: 12;
$max-width: em(1100, 17);

$small: new-breakpoint(min-width em(705, 15) 12);
$medium: new-breakpoint(min-width em(875, 16) 12);
$large: new-breakpoint(min-width em(1250, 17) 12);