body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.65;
  color: $dark-grey;

  @include media($small) {
    font-size: 16px;
  }

  @include media($medium) {
    font-size: 17px;
  }

}

hgroup, h1, h2, h3, h4, h5, h6 {
  line-height: 1.65;
  font-weight: 600;
  margin: 0;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  @include transition (border .2s ease-in-out);

  &:hover {
    border-bottom: 1px solid $medium-grey;
  }

}
