.dev-profile {
  @include span-columns(6);
  @include omega(2n);
  line-height: .75;
  margin-bottom: 5%;

  @include media($small) {
    @include omega-reset(2n); // Reset previous @include omega()
    @include span-columns(4);
    @include omega(3n);
  }

  @include media($medium) {
    @include omega-reset(1n); // Reset previous @include omega()
    @include span-columns(3);
    @include omega(4n);
  }

  .avatar img {
    width: 100%;
    -webkit-transition: -webkit-filter .4s;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .avatar:hover img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  .avatar h2 {
    font-size: 1.35em;
    font-weight: 300;
    line-height: 1.2;
    color: $dark-grey;
    padding: .4em 0;
    border-left: 2px solid $light-grey;
    border-right: 2px solid $light-grey;
    border-bottom: 2px solid $light-grey;
    text-align: center;
    @include transition (color .2s ease-in-out);
  }

  .avatar:hover h2 {
    color: $blue;
  }

  a {
    border: none;

    &:hover {
      border: none;
    }

  }

  .profile-url {

    a {
      display: block;
      width: 50%;
      float: left;
      padding: .5em;
      text-align: center;
      border-bottom: 2px solid $light-grey;
      border-left: 2px solid $light-grey;


      &:last-of-type {
        border-right: 2px solid $light-grey;
      }

      &:hover img {
        opacity: .85;
      }

    }

    img {
      height: 1.25em;
      @include transition (opacity .2s ease-in-out);
      opacity: .55;
    }

  }

}

.callout {
  @include span-columns(12);
  @include omega();
  padding: 1.25em 1.5em;
  border: 2px solid $light-grey;

  @include media($small) {
    @include span-columns(8);
    @include omega();
  }

  @include media($medium) {
    @include span-columns(6);
    @include omega();
  }

  h2 {
    line-height: 1;
  }

  p {
    margin: .75em 0 0 0;
  }

}
