footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  @include pad(2em 5%);
  background-color: darken($dark-grey, 10);

  @include media($small) {
    @include pad(2em 5% 1em 5%);
  }

  .container {
    @include outer-container;
  }

  a, a:hover {
    border-bottom: none;
  }

  nav {
    @include span-columns(12);
    text-align: center;

    @include media($small) {
      @include span-columns(7);
      text-align: left;
    }

    @include media($medium) {
      @include span-columns(8);
    }

    a {
      color: darken($medium-grey, 15);
      @include transition (color .2s ease-in-out);
      white-space: nowrap;
      padding: .5em 0;
      margin-right: 1em;

      &:hover {
        color: #fff;
      }

    }

  }

  .social {
    @include span-columns(12);
    margin-top: 1em;
    text-align: center;

    @include media($small) {
      @include span-columns(5);
      @include omega();
      margin-top: -.55em;
      text-align: right;

      @include media($medium) {
        @include span-columns(4);
      }

    }

    svg {
      width: 40px;
      height: 40px;
      fill: darken($medium-grey, 15);
      @include transition (fill .2s ease-in-out);

      @include media($small) {
        width: 48px;
        height: 48px;
      }

    }

    a:hover svg {
      fill: #fff;
    }

  }

}

.footer-fixer {
  min-height: 100%;
  padding-bottom: 70px;
  position: relative;
}
