header {
  @include pad(0 5%);
  border-bottom: .2em solid lighten($dark-grey, 25);
  font-weight: 400;

  .container {
    @include outer-container;
    padding: 1em 0;

    @include media($small) {
      padding: 0;
      line-height: 4.5em;
    }

    @include media($medium) {
      line-height: 4.75em;
    }

    @include media($large) {
      line-height: 5em;
    }

  }

  .logo {
    @include span-columns(8);
    line-height: 1;

    @include media($small) {
      @include span-columns(4);
      line-height: inherit;
    }

    img {
      width: 180px;

      @include media($small) {
        width: 200px;
        vertical-align: middle;
        margin-bottom: .25em;
      }

      @include media($medium) {
        width: 240px;
      }

    }

  }

  nav {
    @include span-columns(12);
    @include omega();

    @include media($small) {
      @include span-columns(8);
      text-align: right;
    }

  }

  nav a {
    width: 100%;
    display: inline-block;
    padding: .5em 0;
    border-bottom: 1px solid $medium-grey;

    @include media($small) {
      display: inline;
      padding: .5em 0;
      margin: 0 0 0 .75em;
      border-bottom: none;
    }

    @include media($large) {
      margin: 0 0 0 1em;
    }

  }

  nav a:hover {
    border-bottom: 1px solid $medium-grey;

    @include media($small) {
      border-bottom: none;
    }
  }

  nav a:last-of-type, nav a:last-of-type:hover  {
    border-bottom: none;
    padding-bottom: 0;
  }

  a {
    font-size: 1.05em;
    color: $dark-grey;
    border: none;
    @include transition (color .2s ease-in-out);

    @include media($medium) {
      font-size: 1.15em;
    }

    @include media($large) {
      font-size: 1.25em;
    }

    &:hover {
      color: $blue;
      border: none;
    }

  }

}

/*! responsive-nav.js 1.0.32 by @viljamis */

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  @include span-columns(4);
  @include omega();
  margin-top: .25em;
  text-align: right;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@include media($small) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}
