// For sticky footer
// see: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  @include pad(5% 5% 5.5% 5%);

  @include media($small) {
    @include pad(3% 5% 3.5% 5%);
  }

  .container {
    @include outer-container;
  }

}
