<!doctype html>
<!--[if IE 6 ]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7 ]> <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]> <html class="ie8 oldie"> <![endif]-->
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<meta name="description" content="&#60;chadev&#47;&#62; | A place for Chattanooga hackers and developers to share" />
<!-- Assets -->
<link rel="stylesheet" href="css/style.css"/>
<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />
</head>

  




    <body>

        <div class="site">
          <header>
            <h1>{{ site.name }}</h1>
          </header>

          {{ content }}

          <!-- <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div> -->
        </div>

    </body>
</html>
